.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding-bottom: 80px;
}

.hint {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: #4C4CFF;
    display: inline-block;
    padding-left: 4px;
}

.profile__link {
    text-decoration: none;
}

.profile__container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding-right: 60px;
}
.profile__buttons {
    display: flex;
    gap: 20px;
}

.profile__button {
    width: 50%;
}

.active {
    color: #fff;
}